
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <script>
	if (location.protocol != 'https:')
	{
	 location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
	}
    </script>
    <title>
      VPN Server Deployer | vpn.arcology.io
    </title>
    <meta name="description" content="Quickly Deploy OpenVPN Server on DigitalOcean">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://josephmarhee.com/assets/tachyons.css">
    <link rel="stylesheet" href="https://interiorae.com/css/extrastyles.css">

    <link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
  </head>
  <body class="w-100 sans-serif">
      <main>
              <section class="phm phl-ns mw7 center pvxl">
       <h1 class="ttu tracked">Security & Privacy Can Begin Here</h1>
       <p class='f5 f3-ns lh-copy measure'>This is just the first in many more building blocks to de-centralizing your services, protecting your privacy online, and securing your data. This won't do it all, but it may get you started. </p>
       <p class='f5 f3-ns lh-copy measure'>Quickly, and automatically deploy a VPN Server to DigitalOcean.</p>
<a href="/auth/login" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--black-40 black-80 link pam"><i class="btn--github"></i>Login to DigitalOcean & Deploy</a>
<a href="https://medium.com/@jmarhee/automating-deploying-a-personal-vpn-server-on-digitalocean-f585aca396cf#.oo5tuvo9b" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--black-40 black-80 link pam">Learn More</a>
     </div>
   </section>
   </main>


  </body>
</html>
